.voluntrios-formulrio-apoiador-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.voluntrios-formulrio-apoiador-voluntrios-formulrio-apoiador {
  width: 100%;
  height: 3445px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group31 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2468px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-maskgroup1 {
  top: 169px;
  left: 0px;
  width: 100%;
  height: 402px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-rectangle82 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 402px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-peoplestackinghandstogetherpark1 {
  top: -240px;
  left: 0px;
  width: 100%;
  height: 966px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-text10 {
  top: 188px;
  left: 540px;
  color: rgba(255, 255, 255, 1);
  width: 360px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-maskgroup2 {
  top: 44px;
  left: 657px;
  width: 125px;
  height: 125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-image25 {
  top: 0px;
  left: 0px;
  width: 125px;
  height: 125px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-rectangle675 {
  top: -19px;
  left: -56px;
  width: 235px;
  height: 203px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-text12 {
  top: 487px;
  left: 235px;
  color: rgba(255, 255, 255, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-group1434 {
  top: 2954px;
  left: 605px;
  width: 230px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-boto-segundario {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 46px;
  display: flex;
  padding: 8px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 199, 44, 1);
}
.voluntrios-formulrio-apoiador-text14 {
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-group1444 {
  top: 633px;
  left: 162px;
  width: 1170px;
  height: 2235px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 199, 44, 1);
}
.voluntrios-formulrio-apoiador-text16 {
  top: 58px;
  left: 100px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-group1424 {
  top: 138px;
  left: 100px;
  width: 970px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text18 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-input10 {
  gap: 10px;
  top: 43px;
  left: 0px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group1423 {
  top: 273px;
  left: 100px;
  width: 970px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text20 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text22 {
  left: 500px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-input11 {
  gap: 10px;
  top: 40px;
  left: 500px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 0 8px 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group1436 {
  top: 408px;
  left: 100px;
  width: 970px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text24 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text26 {
  left: 500px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-group1437 {
  top: 543px;
  left: 100px;
  width: 970px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text28 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-input12 {
  gap: 10px;
  top: 40px;
  left: 0px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group1438 {
  top: 678px;
  left: 100px;
  width: 970px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text30 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-input13 {
  gap: 10px;
  top: 40px;
  left: 0px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group1421 {
  top: 1086px;
  left: 100px;
  width: 970px;
  height: 329px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text32 {
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text34 {
  top: 55px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text36 {
  top: 97px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text38 {
  top: 139px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text40 {
  top: 181px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text42 {
  top: 223px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text44 {
  top: 265px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text46 {
  top: 307px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-rectangle941 {
  top: 55px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle951 {
  top: 97px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle96 {
  top: 139px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle97 {
  top: 181px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle98 {
  top: 223px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle99 {
  top: 265px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle100 {
  top: 307px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-text48 {
  top: 1487px;
  left: 100px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-group1426 {
  top: 1715px;
  left: 100px;
  width: 970px;
  height: 238px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text50 {
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-group14181 {
  top: 40px;
  left: 0px;
  width: 970px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-input14 {
  gap: 10px;
  top: 0px;
  left: 0px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: 198px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group1428 {
  top: 1988px;
  left: 100px;
  width: 970px;
  height: 119px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-group1425 {
  top: 0px;
  left: 0px;
  width: 970px;
  height: 119px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text52 {
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text54 {
  top: 55px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text56 {
  top: 97px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 848px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text57 {
  font-weight: 400;
}
.voluntrios-formulrio-apoiador-rectangle942 {
  top: 55px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-rectangle952 {
  top: 97px;
  left: 74px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.voluntrios-formulrio-apoiador-group1427 {
  top: 1580px;
  left: 100px;
  width: 970px;
  height: 101px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text59 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-text61 {
  left: 500px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-input15 {
  gap: 10px;
  top: 41px;
  left: 0px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-wallet {
  top: 35px;
  left: 606px;
  width: 64px;
  height: 63px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.voluntrios-formulrio-apoiador-vector1 {
  top: 8.480738639831543px;
  left: 2.4615612030029297px;
  width: 54px;
  height: 45px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-rectangle5 {
  top: 18.17306900024414px;
  left: 38.15386199951172px;
  width: 26px;
  height: 22px;
  position: absolute;
  border-color: rgba(35, 31, 32, 1);
  border-style: solid;
  border-width: 4.804640293121338px;
  border-radius: 7.206960201263428px;
}
.voluntrios-formulrio-apoiador-ellipse11 {
  top: 27.2596435546875px;
  left: 46.76924133300781px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-creditcardbig {
  top: 33px;
  left: 500px;
  width: 64px;
  height: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.voluntrios-formulrio-apoiador-vector2 {
  top: 10.833379745483398px;
  left: 2.666516065597534px;
  width: 59px;
  height: 43px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-vector3 {
  top: 24.58342742919922px;
  left: 2.666516065597534px;
  width: 59px;
  height: 1px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-rectangle6 {
  top: 32.50000762939453px;
  left: 10.461540222167969px;
  width: 18px;
  height: 9px;
  position: absolute;
  border-radius: 3.7024385929107666px;
}
.voluntrios-formulrio-apoiador-pix1 {
  top: 33px;
  left: 702px;
  width: 66px;
  height: 66px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-group1422 {
  top: 813px;
  left: 100px;
  width: 970px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text63 {
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntrios-formulrio-apoiador-group14182 {
  top: 39px;
  left: 0px;
  width: 970px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-input16 {
  gap: 10px;
  top: 0px;
  left: 0px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: 198px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 24px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-group32 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 169px;
  display: flex;
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 199, 44, 1) 0%, rgba(240, 127, 60, 1) 100%);
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text65 {
  top: 105.625px;
  left: 355.2467041015625px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text67 {
  top: 107px;
  left: 1082px;
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text69 {
  top: 104.5687255859375px;
  left: 467.324462890625px;
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text71 {
  top: 104.5687255859375px;
  left: 598.41552734375px;
  color: rgba(255, 255, 255, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text73 {
  top: 106px;
  left: 755px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text75 {
  top: 108px;
  left: 877px;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-logo-instituto-jbh11 {
  top: 56.016845703125px;
  left: 19px;
  width: 110px;
  height: 104px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-text77 {
  top: 68.65625px;
  left: 129.08966064453125px;
  color: rgba(255, 255, 255, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-text78 {
  font-weight: 400;
}
.voluntrios-formulrio-apoiador-text80 {
  font-weight: 400;
}
.voluntrios-formulrio-apoiador-rectangle115 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 33px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-perfil {
  top: 2px;
  left: 1226px;
  width: 180px;
  height: 31.639892578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntrios-formulrio-apoiador-text82 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-ellipse12 {
  top: 0px;
  left: 150.3543701171875px;
  width: 30px;
  height: 28px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-ellipse2 {
  top: 4px;
  left: 159.91748046875px;
  width: 11px;
  height: 10px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-ellipse4 {
  right: 6px;
  width: 17px;
  bottom: 3px;
  height: 16px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-boto-primrio {
  gap: 10px;
  top: 97.5164794921875px;
  left: 1249px;
  width: 156px;
  height: 52.4282112121582px;
  display: flex;
  padding: 8px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 199, 44, 1);
}
.voluntrios-formulrio-apoiador-text84 {
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.voluntrios-formulrio-apoiador-polygon1 {
  top: 116px;
  left: 1061px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.voluntrios-formulrio-apoiador-input17 {
  gap: 10px;
  top: 946px;
  left: 262px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-input18 {
  gap: 10px;
  top: 1081px;
  left: 270px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntrios-formulrio-apoiador-input19 {
  gap: 10px;
  top: 1081px;
  left: 762px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}