.voluntariosreado-colaborador2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.voluntariosreado-colaborador2-voluntariosreado-colaborador2 {
  width: 100%;
  height: 2859px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-group3 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 2786px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-maskgroup1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 402px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-rectangle82 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 402px;
  position: absolute;
}
.voluntariosreado-colaborador2-peoplestackinghandstogetherpark1 {
  top: -332px;
  left: -33px;
  width: 110%;
  height: 989px;
  position: absolute;
}
.voluntariosreado-colaborador2-text10 {
  top: 177px;
  left: 405px;
  color: rgba(255, 255, 255, 1);
  width: 630px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntariosreado-colaborador2-text12 {
  top: 600px;
  left: 635px;
  color: rgba(0, 0, 0, 1);
  width: 433px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-text14 {
  top: 557px;
  left: 635px;
  color: rgba(35, 31, 32, 1);
  width: 740px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-text16 {
  top: 2236px;
  left: 312px;
  color: rgba(35, 31, 32, 1);
  width: 816px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntariosreado-colaborador2-maskgroup2 {
  top: 472px;
  left: 205px;
  width: 348px;
  height: 348px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-ellipse2 {
  top: 0px;
  left: 0px;
  width: 348px;
  height: 348px;
  position: absolute;
}
.voluntariosreado-colaborador2-womanmakinglovesignwithhands1 {
  top: -6px;
  left: -12px;
  width: 376px;
  height: 369px;
  position: absolute;
}
.voluntariosreado-colaborador2-rectangle121 {
  top: 885px;
  left: 205px;
  width: 430px;
  height: 576px;
  position: absolute;
  border-radius: 5px;
}
.voluntariosreado-colaborador2-rectangle122 {
  top: 889px;
  left: 663px;
  width: 632px;
  height: 570px;
  position: absolute;
  border-radius: 5px;
}
.voluntariosreado-colaborador2-group1462 {
  top: 1025px;
  left: 268px;
  width: 337px;
  height: 264.180908203125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-group1449 {
  top: 127px;
  left: 9px;
  width: 328px;
  height: 32.63655471801758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text18 {
  top: 5px;
  left: 45px;
  color: rgba(35, 31, 32, 1);
  width: 283px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-location {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 33px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1450 {
  top: 63px;
  left: 6px;
  width: 330px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text20 {
  top: 18px;
  left: 48px;
  color: rgba(35, 31, 32, 1);
  width: 282px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-vector1 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 39px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1447 {
  top: 236.180908203125px;
  left: 8px;
  width: 328px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text22 {
  left: 46px;
  color: rgba(35, 31, 32, 1);
  width: 282px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-call {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1451 {
  top: 10px;
  left: 8px;
  width: 329px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-email {
  top: 6px;
  left: 46px;
  width: 283px;
  height: 21.71814727783203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text24 {
  color: rgba(35, 31, 32, 1);
  width: 283px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-vector2 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1448 {
  top: 184.636474609375px;
  left: 8px;
  width: 329px;
  height: 26.544401168823242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text26 {
  top: 2px;
  left: 46px;
  color: rgba(35, 31, 32, 1);
  width: 283px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-message {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 27px;
  position: absolute;
}
.voluntariosreado-colaborador2-text28 {
  top: 943px;
  left: 235px;
  color: rgba(35, 31, 32, 1);
  width: 370px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntariosreado-colaborador2-rectangle123 {
  top: 1500px;
  left: 161px;
  width: 1150px;
  height: 544px;
  position: absolute;
  border-radius: 5px;
}
.voluntariosreado-colaborador2-text30 {
  top: 1552px;
  left: 235px;
  color: rgba(35, 31, 32, 1);
  width: 970px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntariosreado-colaborador2-text32 {
  top: 943px;
  left: 735px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.voluntariosreado-colaborador2-group1463 {
  top: 1006px;
  left: 735px;
  width: 470px;
  height: 102px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text34 {
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-input1 {
  gap: 10px;
  top: 42px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-group1464 {
  top: 1141px;
  left: 735px;
  width: 470px;
  height: 101px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text36 {
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-input2 {
  gap: 10px;
  top: 41px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-group1465 {
  top: 1276px;
  left: 735px;
  width: 470px;
  height: 101px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text38 {
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-input3 {
  gap: 10px;
  top: 41px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Switzerland;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-group1466 {
  top: 1615px;
  left: 235px;
  width: 970px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.voluntariosreado-colaborador2-text40 {
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-text42 {
  left: 500px;
  color: rgba(35, 31, 32, 1);
  width: 470px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-input4 {
  gap: 10px;
  top: 40px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-input5 {
  gap: 10px;
  top: 1655px;
  left: 735px;
  color: rgba(0, 0, 0, 1);
  width: 470px;
  height: 60px;
  display: flex;
  padding: 8px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Montserrat;
  font-weight: 400;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.voluntariosreado-colaborador2-group1467 {
  top: 702px;
  left: 1035px;
  width: 70px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 199, 44, 1);
}
.voluntariosreado-colaborador2-union1 {
  top: 9px;
  left: 13px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1468 {
  top: 702px;
  left: 1135px;
  width: 70px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 199, 44, 1);
}
.voluntariosreado-colaborador2-union2 {
  top: 9px;
  left: 17px;
  width: 37px;
  height: 45px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1469 {
  top: 2385px;
  left: 205px;
  width: 1030px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 199, 44, 1);
}
.voluntariosreado-colaborador2-text44 {
  top: 18px;
  left: 130px;
  color: rgba(35, 31, 32, 1);
  width: 870px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntariosreado-colaborador2-text45 {
  font-weight: 700;
}
.voluntariosreado-colaborador2-text47 {
  font-weight: 700;
}
.voluntariosreado-colaborador2-vector3 {
  top: 35px;
  left: 40px;
  width: 48px;
  height: 52px;
  position: absolute;
}
.voluntariosreado-colaborador2-group1470 {
  top: 2551px;
  left: 205px;
  width: 1030px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 199, 44, 1);
}
.voluntariosreado-colaborador2-text49 {
  top: 18px;
  left: 130px;
  color: rgba(35, 31, 32, 1);
  width: 870px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.voluntariosreado-colaborador2-text50 {
  font-weight: 700;
}
.voluntariosreado-colaborador2-text52 {
  font-weight: 700;
}
.voluntariosreado-colaborador2-vector4 {
  top: 35px;
  left: 40px;
  width: 48px;
  height: 52px;
  position: absolute;
}
.voluntariosreado-colaborador2-text54 {
  top: 655px;
  left: 635px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.voluntariosreado-colaborador2-boto-primrio {
  gap: 10px;
  top: 702px;
  left: 635px;
  width: 370px;
  height: 63px;
  display: flex;
  padding: 8px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 199, 44, 1);
}
.voluntariosreado-colaborador2-text56 {
  color: rgba(255, 255, 255, 1);
  width: 176px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.voluntariosreado-colaborador2-boto-segundario {
  gap: 10px;
  top: 2115px;
  left: 405px;
  width: 630px;
  height: 63px;
  display: flex;
  padding: 8px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 199, 44, 1);
}
.voluntariosreado-colaborador2-text58 {
  color: rgba(0, 0, 0, 1);
  width: 260px;
  height: auto;
  text-align: left;
  line-height: normal;
}
